html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.logo {
  position: relative;
  font-family: Verdana, sans-serif;
  color: #E44D25;
  left: 15px;
  margin-bottom: -10px;
  font-size: 13px;
}

.logodefinition {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  left: 15px;
  font-size: 11px;
  margin-bottom: -10px;
}

.statusdefinition {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  left: 15px;
  font-size: 11px;
}

.logdefinition {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  left: 80px;
  top: -23px;
  color: red;
  font-size: 11px;
  margin-bottom: -10px;
}


.loginlabel {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -10px;
}

.loginlabel:hover {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  color: #7635DC;
  margin-bottom: -10px;
  cursor: pointer;
}


.loginmod {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -8px;
}

.loginmod:hover {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  cursor: pointer;
  color: #7635DC;
}

.gomod {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 10px;
  top: 50px;
  margin-bottom: -10px;
  color: red;
  cursor: pointer;
}

.genderlab {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -10px;
}

.genderlab:hover {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -10px;
  cursor: pointer;
  color: #7635DC;
}

.buylab {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -10px;
}
.buylab:hover {
  position: relative;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 12px;
  top: 50px;
  margin-bottom: -10px;
  cursor: pointer;
  color: #7635DC;
}

.usernameinput {
  position: relative;
  top: 80px;
}

.passwordinput {
  position: relative;
  top: 80px;
}

.serverinput
 {
   position:relative;
   top: 150px;
 }
